
.bg-navy {
    background-color: #001f3f;
}

.bg-teal {
    background-color: #39cccc;
}

.bg-maroon {
    background-color: #85144b;
}

.bg-gray {
    background-color: #e9ecef;
}

.bg-lightgray {
    background-color: #f8f9fa;
}