html,
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Verdana;
}

/* spacer to push footer to bottom of page if page too short */
.spacer {
    flex: 1;
}

.metainfo {
  text-align: center;
  color: white;
  border: 1px;
  border-style: solid;
  border-radius: 100px;
  border-color: rgba(255, 255, 255, 0.5);
  padding: 7px;
}

.icon {
  height: 3vh;
  min-height: 30px;
}

.iconcontainer {
  margin-left: 1vh;
  margin-right: 1vh;
  display: inline;
}

.mini-spacer {
    width: 100%;
    height: 1px;
    background: rgba(255, 255, 255, 0.5);
    background-blend-mode: overlay;
}

footer {
    width: 100%;
}

.insidecontent {
    border: 1px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.5);
    color: white;
    text-align: center;
    padding: 40px;
}

.bg-gradient {
    background-image: linear-gradient(to right top, #dd8ae9, #ad9fff, #74b1ff, #35bdff, #00c6ef, #00cde2, #2bd3d1, #55d7be, #71deb1, #8ee4a2, #ade895, #cdeb8a);
}

.bg-whiteopacity {
    background-color: rgba(255, 255, 255, 0.08);
    background-blend-mode: overlay;
} 

.bg-navy {
    background-color: #001f3f;
}

.bg-blue {
    background-color: #39a2cc;
}

.bg-teal {
    background-color: #39cccc;
}

.bg-maroon {
    background-color: #85144b;
}

.bg-gray {
    background-color: #e9ecef;
}

.bg-lightgray {
    background-color: #f8f9fa;
}

.akronim {
    font-family: Akronim;
}

.header {
    font-size: 80px;
    color: white;
    margin: auto;
    text-decoration: none;
}

.header:hover {
    color: white;
    text-decoration: none;
}

.content-table {
    border-collapse: collapse;
    margin: 10px 0;
    font-size: 0.9em;
    width: 100%;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    table-layout: fixed;
    word-break: break-all;
  }
  
  .content-table thead tr {
    background-color: #009C75;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
  }
  
  .content-table th,
  .content-table td {
    padding: 12px 15px;
  }

  .content-table tbody tr {
    border-bottom: 1px solid #009c7531;
  }
  
  .content-table tbody tr:nth-of-type(even) {
    background-color: #009c7531;
  }
  
  .content-table tbody tr:last-of-type {
    border-bottom: 2px solid #009C75;
  }
  
  .content-table tbody tr.active-row {
    font-weight: bold;
    color: #009C75;
  }
  
  .btn-custom { 
    color: #ffffff; 
    background-color: #00B386; 
  } 
   
  .btn-custom:hover, 
  .btn-custom:focus, 
  .btn-custom:active, 
  .btn-custom.active, 
  .open .dropdown-toggle.btn-custom { 
    color: #ffffff; 
    background-color: #009C75; 
  } 
   
  .btn-custom:active, 
  .btn-custom.active, 
  .open .dropdown-toggle.btn-custom { 
    background-image: none; 
  } 
   
  .btn-custom.disabled, 
  .btn-custom[disabled], 
  fieldset[disabled] .btn-custom, 
  .btn-custom.disabled:hover, 
  .btn-custom[disabled]:hover, 
  fieldset[disabled] .btn-custom:hover, 
  .btn-custom.disabled:focus, 
  .btn-custom[disabled]:focus, 
  fieldset[disabled] .btn-custom:focus, 
  .btn-custom.disabled:active, 
  .btn-custom[disabled]:active, 
  fieldset[disabled] .btn-custom:active, 
  .btn-custom.disabled.active, 
  .btn-custom[disabled].active, 
  fieldset[disabled] .btn-custom.active { 
    background-color: #00B386; 
  } 
   
  .btn-custom .badge { 
    color: #00B386; 
    background-color: #ffffff; 
  }