<html>
<head>
    <!-- Title and meta -->
    {% if title %}
    <title>{{ title }} &ndash; Distri</title>
    {% else %}
    <title>Distri</title>
    {% endif %}
    <meta name="description" content="Distri is the new, quick, & lightweight solution to distributed computing">
    <link rel="shortcut icon" type="image/x-icon" href="../static/favicon.ico"/>
    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Akronim">

    <!-- BOOTSTRAP FILES START -->
    <!-- CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <!-- jQuery and JS bundle w/ Popper.js -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <!-- BOOTSTRAP FILES STOP -->
    
    <!-- style.css -->
    <link rel="stylesheet" href="../static/style.css" />

    <!-- sitewide.js -->
    <script src="../static/scripts/sitewide.js"></script>
</head>
<body class="bg-gradient">

    <!-- NAVBAR START -->
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="navbar-collapse collapse w-100 dual-collapse2 order-1 order-md-0">
            <ul class="navbar-nav ml-auto text-center">
                <li class="nav-item">
                    <a class="nav-link" href="#">Tutorial</a>
                </li>
            </ul>
        </div>
        <div class="mx-auto my-2 order-0 order-md-1 position-relative">
            <a class="mx-auto" href="#">
                <a href="../">><img src="../static/distri.png" style="width: 165px; padding-bottom: 75px;"></a>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse w-100 dual-collapse2 order-3 order-md-3">
            <ul class="navbar-nav mr-auto text-center">
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="mini-spacer" style="width: 50%;"></div> <!-- mini-spacer -->
    <!-- NAVBAR STOP -->

    <!-- MAIN CONTENT START -->
    <div id="maincontent" class="container">
        {% block content %}{% endblock %}
    </div>
    <!-- MAIN CONTENT STOP -->

    <!-- FOOTER START -->
    <div class="spacer"></div>
    <div class="container">
        <div class="row" style="margin-top: 2vh; margin-bottom: 2vh;">
            <div class="col-0 col-lg-2 col-xl-3"></div>
            <div class="col-12 col-lg-8 col-xl-6 metainfo bg-whiteopacity">
                <span class="metatext" style="display: inline-block;white-space: pre-line;">Sitewide Connections &mdash;
                    <sub style="line-height: 0;">Updated <span id="sitewide_time">{{ time }}</span></sub>
                </span>
                <div class="iconcontainer" data-toggle="tooltip" title="Total Connections">
                    <img src="../static/icons/people.svg" class="icon">
                    <span id="sitewide_connections" class="metatext">{{ metadata.connections }}</span>
                </div>
                <span class="icondetails">
                    <div class="iconcontainer" data-toggle="tooltip" title="Browser Connections">
                        <img src="../static/icons/pc.svg" class="icon">
                        <span id="sitewide_browser" class="metatext">{{ metadata.browser }}</span>
                    </div>
                    <div class="iconcontainer" data-toggle="tooltip" title="Python Connections">
                        <img src="../static/icons/chip.svg" class="icon">
                        <span id="sitewide_python" class="metatext">{{ metadata.python }}</span>
                    </div>
                </span>
            </div>
            <div class="col-0 col-lg-2 col-xl-3"></div>
        </div>
    </div>
    <div class="mini-spacer"></div> <!-- mini-spacer -->
    <footer class="font-small text-light bg-whiteopacity">
        <div class="footer-copyright text-center py-3">
          2020
          <b>Vasil Zhigilei</b>
        </div>
    </footer>
    <!-- FOOTER STOP -->
</body>
</html>