{% extends "base.html" %}

{% block content %}
    <div class="row" style="margin-top: 10vh">
        <div class="col-0 col-lg-2 col-xl-4"></div>
        <div class="col-12 col-lg-8 col-xl-4 insidecontent bg-whiteopacity">
            <div>
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                      {% for category, message in messages %}
                          {% if category == 'message' %}
                            <div class="alert alert-danger" role="alert" style="color: #585858; font-weight: bold;">
                          {% else %}
                            <div class="alert alert-{{ category }}" role="alert">
                          {% endif %}
                            {{ message }}
                          </div>
                      {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
            
            <h4>Create a new room?</h4>
            <div class="form-check" style="margin-bottom: 5px;">
                <input type="checkbox" class="form-check-input" id="viewOnly">
                <label class="form-check-label" for="viewOnly">Set browser users to view only?</label>
            </div>
            <div class="buttoncontainer" onclick="generate()">
                <button type="button"  class="indexbutton">
                    Generate
                    <div class="fill"></div>
                </button>
            </div>
            <br>
            <br>
            <h4>Already have a code?</h4>
            <form>
                <div class="form-group">
                    <input type="text" id="code" class="form-control" style="width: 75%; margin: auto;" aria-describedby="codeHelp" placeholder="Enter code"
                        onkeypress="detect_enter_keyboard(event)">
                    <small id="codeHelp" class="form-text">If you were given a URL code.</small>
                </div>
                <div class="buttoncontainer" onclick="redirect(document.getElementById('code').value)">
                    <button type="button" class="indexbutton">
                        Join
                        <div class="fill fill-two"></div>
                    </button>
                </div>
            </form>
        </div>
        <div class="col-0 col-lg-2 col-xl-4"></div>
    </div>
    <script src="../static/scripts/index.js"></script>
{% endblock %}