{% extends "base.html" %}

{% block content %}
    <div class="row" style="margin-top: 10vh">
        <div class="col-0 col-lg-2 col-xl-4"></div>
        <div class="col-12 col-lg-8 col-xl-4 insidecontent bg-whiteopacity">
            <h4>Create a new room?</h4>
            <div class="buttoncontainer" onclick="generate()">
                <button type="button"  class="indexbutton">
                    Generate
                    <div class="fill"></div>
                </button>
            </div>
            <br>
            <br>
            <h4>Already have a code?</h4>
            <form>
                <div class="form-group">
                    <input type="text" id="code" class="form-control" style="width: 75%; margin: auto;" aria-describedby="codeHelp" placeholder="Enter code"
                        onkeypress="detect_enter_keyboard(event)">
                    <small id="codeHelp" class="form-text">If you were given a URL code.</small>
                </div>
                <div class="buttoncontainer" onclick="redirect(document.getElementById('code').value)">
                    <button type="button" class="indexbutton">
                        Join
                        <div class="fill fill-two"></div>
                    </button>
                </div>
            </form>
            <script>
                function generate(){
                    fetch("/api/generateroom").then(function(response) {
                        response.text().then(function(text) {
                            redirect(text);
                        });
                    });
                }
                function redirect(code){
                    window.location.href = "/r/" + code; // redirect to new room
                }
                function detect_enter_keyboard(event) {
                    var key_board_keycode = event.which || event.keyCode;
                    if(key_board_keycode == 13){
                        event.preventDefault();
                        redirect(document.getElementById('code').value);
                    }
                }
            </script>
        </div>
        <div class="col-0 col-lg-2 col-xl-4"></div>
    </div>
{% endblock %}