{% extends "base.html" %}

{% block content %}
    <div class="row" style="margin-top: 10vh">
        <div class="col-md-4"></div>
        <div class="col-md-4 insidecontent bg-whiteopacity">
            <h4>{{ code }}</h4>
            <table>
                {% for key, value in room.items() %}
                   <tr>
                        <th> {{ key }} </th>
                        <td> {{ value }} </td>
                   </tr>
                {% endfor %}
            </table>
            
        </div>
        <div class="col-md-4"></div>
    </div>
{% endblock %}