{% extends "base.html" %}

{% block content %}
    <div class="row" style="margin-top: 10vh">
        <div class="col-md-4"></div>
        <div class="col-md-4 insidecontent bg-whiteopacity">
            <h3 style="font-weight: bold;">{{ code }}</h3>
            <small id="codeHelp" class="form-text">Room URL code.</small>
            <br>
            <h4>Room Contents</h4>
            <table class="content-table">
                <thead>
                    <tr>
                      <th style="width: 33%;">Key</th>
                      <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                {% for key, value in roomdict.items() %}
                   <tr>
                        <th> {{ key }} </th>
                        <td> {{ value }} </td>
                   </tr>
                {% endfor %}
                </tbody>
            </table>      
            <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
            <script src="../static/scripts/networking.js"></script>
        </div>
        <div class="col-md-4"></div>
    </div>
{% endblock %}